@import url('//fonts.googleapis.com/css?family=Baloo+Tamma&display=swap'); // font-family: 'Baloo Tamma', cursive;
@import url('//fonts.googleapis.com/earlyaccess/notosanskannada.css'); // font-family: 'Noto Sans Kannada', sans-serif;
@import url('//fonts.googleapis.com/earlyaccess/notosanskannadaui.css'); // font-family: 'Noto Sans Kannada UI', sans-serif;

.campaign-card {
	height: 710px;
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
    perspective: 600px;
    cursor: pointer;
    transition: margin-top 0.5s ease;
    &:hover {
        margin-top: -35px;
        position: relative;
        &:before {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 25px;
            left: 10px;
            width: 50%;
            top: 80%;
            max-width: 300px;
            background: #777;
            -webkit-box-shadow: 0 35px 20px #777;
            -moz-box-shadow: 0 35px 20px #777;
            box-shadow: 0 35px 20px #777;
            -webkit-transform: rotate(-8deg);
            -moz-transform: rotate(-8deg);
            -o-transform: rotate(-8deg);
            -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);
        }
        &:after {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 25px;
            left: 10px;
            width: 50%;
            top: 80%;
            max-width: 300px;
            background: #777;
            -webkit-box-shadow: 0 35px 20px #777;
            -moz-box-shadow: 0 35px 20px #777;
            box-shadow: 0 35px 20px #777;
            -webkit-transform: rotate(-8deg);
            -moz-transform: rotate(-8deg);
            -o-transform: rotate(-8deg);
            -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);
            -webkit-transform: rotate(8deg);
            -moz-transform: rotate(8deg);
            -o-transform: rotate(8deg);
            -ms-transform: rotate(8deg);
            transform: rotate(8deg);
            right: 10px;
            left: auto;
        }
    }
	.front {
		border-radius: 10px;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		transform: rotateY(0deg);
		overflow: hidden;
		z-index: 1;
		.top-pic {
			height: 30%;
			width: 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.avatar {
			width: 80px;
			height: 80px;
			margin: 0 auto;
			border-radius: 100%;
			box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 0 4px 5px rgba(107, 5, 0, 0.6), 0 0 50px 50px rgba(255, 255, 255, 0.25);
			/*background-image: url(http://0.gravatar.com/avatar/fa4df8540bab3cb38f7dfa60c6e0522c?size=2000);*/
			background-size: contain;
			position: absolute;
			left: 37%;
			top: 23%;
			z-index: 1;
			background-color: #fff;
			background-repeat: no-repeat;
		}
		.info-box {
			height: 70%;
			width: 100%;
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			background: #603813;
			background: -webkit-radial-gradient(to right, #b29f94, #603813);
			background: radial-gradient(to right, #b29f94, #603813);
		}
	}
	.info {
		display: block;
		height: 82%;
		text-align: center;
		padding: 0 10px 10px;
		h2 {
			color: #fff;
			margin: 60px 0 0 0;
			font-size: 1rem;
			text-align: center;
			line-height: 1.3rem;
			font-family: 'Baloo Tamma', cursive;
		}
		.created-by {
			color: #aaa;
			display: block;
			margin: 12px 0 0 0;
			font-family: 'Noto Sans Kannada', sans-serif;
		}
		.intro {
			color: #fff;
			font-size: 0.9rem;
			padding: 10px 0 0;
			font-family: 'Noto Sans Kannada', sans-serif;
		}
		.raised {
			color: #aaa;
			display: block;
			font-size: 14px;
			position: absolute;
			bottom: 90px;
			width: 100%;
			strong {
				color: #56a403;
				font-size: 26px;
				display: block;
				padding-right: 22px;
			}
		}
		.supporters {
			color: #aaa;
			display: block;
			font-size: 14px;
			padding: 10px 0;
			position: absolute;
			bottom: 10px;
			width: 100%;
			strong {
				color: #00c0bb;
				font-size: 26px;
				display: block;
			}
		}
	}
	.ribbon {
		position: absolute;
		right: -5px;
		top: -5px;
		z-index: 2;
		overflow: hidden;
		width: 75px;
		height: 75px;
		text-align: right;
		span {
			font-size: 10px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			line-height: 20px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			width: 100px;
			display: block;
			background: #79A70A;
			background: linear-gradient(#9BC90D 0%, #79A70A 100%);
			box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
			position: absolute;
			top: 19px;
			right: -21px;
			&::before {
				content: "";
				position: absolute;
				left: 0px;
				top: 100%;
				z-index: -1;
				border-left: 3px solid #79A70A;
				border-right: 3px solid transparent;
				border-bottom: 3px solid transparent;
				border-top: 3px solid #79A70A;
			}
			&::after {
				content: "";
				position: absolute;
				right: 0px;
				top: 100%;
				z-index: -1;
				border-left: 3px solid transparent;
				border-right: 3px solid #79A70A;
				border-bottom: 3px solid transparent;
				border-top: 3px solid #79A70A;
			}
		}
	}
}
.campaign-wrapper {
	padding: 50px 0;
    &:hover {
		.campaign-card {
			margin-top: -35px;
			position: relative;
			&:before {
				z-index: -1;
				position: absolute;
				content: "";
				bottom: 25px;
				left: 10px;
				width: 50%;
				top: 80%;
				max-width: 300px;
				background: #777;
				-webkit-box-shadow: 0 35px 20px #777;
				-moz-box-shadow: 0 35px 20px #777;
				box-shadow: 0 35px 20px #777;
				-webkit-transform: rotate(-8deg);
				-moz-transform: rotate(-8deg);
				-o-transform: rotate(-8deg);
				-ms-transform: rotate(-8deg);
				transform: rotate(-8deg);
			}
			&:after {
				z-index: -1;
				position: absolute;
				content: "";
				bottom: 25px;
				left: 10px;
				width: 50%;
				top: 80%;
				max-width: 300px;
				background: #777;
				-webkit-box-shadow: 0 35px 20px #777;
				-moz-box-shadow: 0 35px 20px #777;
				box-shadow: 0 35px 20px #777;
				-webkit-transform: rotate(-8deg);
				-moz-transform: rotate(-8deg);
				-o-transform: rotate(-8deg);
				-ms-transform: rotate(-8deg);
				transform: rotate(-8deg);
				-webkit-transform: rotate(8deg);
				-moz-transform: rotate(8deg);
				-o-transform: rotate(8deg);
				-ms-transform: rotate(8deg);
				transform: rotate(8deg);
				right: 10px;
				left: auto;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0px;
			height: 35px;
			width: 100%;
		  }
	}
}