@import url('//fonts.googleapis.com/css?family=Baloo+Tamma&display=swap'); // font-family: 'Baloo Tamma', cursive;
@import url('//fonts.googleapis.com/earlyaccess/notosanskannada.css'); // font-family: 'Noto Sans Kannada', sans-serif;
@import url('//fonts.googleapis.com/earlyaccess/notosanskannadaui.css'); // font-family: 'Noto Sans Kannada UI', sans-serif;

.product-card {
    min-width: 375px;
    max-width: 375px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 20px 0px;
    .top {
        width: 100%;
        height: 250px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .bottom{
        padding: 5px;
        .bottom-wrapper {
            background: rgba(255,226,196,1);
            background: -moz-linear-gradient(top, rgba(255,226,196,1) 0%, rgba(148,107,59,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,226,196,1)), color-stop(100%, rgba(148,107,59,1)));
            background: -webkit-linear-gradient(top, rgba(255,226,196,1) 0%, rgba(148,107,59,1) 100%);
            background: -o-linear-gradient(top, rgba(255,226,196,1) 0%, rgba(148,107,59,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,226,196,1) 0%, rgba(148,107,59,1) 100%);
            background: linear-gradient(to bottom, rgba(255,226,196,1) 0%, rgba(148,107,59,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2c4', endColorstr='#946b3b', GradientType=0 );
            padding: 10px;
            h4 {
                text-align: center;
                font-weight: bold;
                color: #946b3b;
                -webkit-text-stroke: 1px #fff;
            }
            .detail-wrapper {
                width: 100%;
                .details {
                    width: 98%;
                    color: #fff;
                    .left-part {
                        text-align: right;
                        width:50%;
                        display: inline-block;
                        padding: 5px 10px 5px;
                    }
                    .right-part {
                        text-align: left;
                        width:50%;
                        display: inline-block;
                        padding: 5px 10px 5px;
                        font-style: italic;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}